<img alt="Logo" src="logo.png"/>

<h2>Dynamic app discovery and inter-app communication for iOS</h2>

<p>IntentKit </p>

<a href="/signup" class="button">Sign up as a User</a>
<a href="/apps/new" class="button">Submit an App</a>
<a href="/intents/new" class="button">Create an Intent</a>
