<!DOCTYPE html>
<html lang="en">
<head>
  <title>iOS Intents - an #iOSDevCamp project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrap">
		<header>
			
		</header>

		<section>
			<%= yield %>
		</section>

		<footer>

		</footer>	
	</div>
</body>
</html>